* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-bg-color: #1fa700;
    --main-bg-color: #1fa700; */
   
    --main-bg-color: #5ac597;   /* for headings */
     --main-bg-color1: #5ac597; /*for bars  */

}

body {
    box-sizing: border-box;
}

.information {

    height: 50px;
    /* background-color: #5ac597; */
    background-color: var(--main-bg-color1);
    display: flex;
    align-items: center;
    font-style: oblique;
    /* color: #605E5E; */
    color: white;
    /* width: 100%; */
    justify-content: space-between;


    
}

.info {
    padding: 0px 23px;
}

.info1 {
    display: none;
}

header {
    background-color: white;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoheadding {
    font-size: 40px;
    /* color: #747474; */
   
    /* text-shadow: 1px 1px 10px #5ac597; */
}

nav .logo .logoheadding p {
    font-size: 15px;
}

nav .logo .logoheadding a {
    /* color: #9155A7; */
    /* color: #0DB26B; */
    /* color: var(--main-bg-color); */
    /* text-shadow: 0px 0px 2px purple; */
    color: purple;
}

nav .logoheadding:hover {
    font-weight: 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo img {
    margin-right: 10px;

}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 12px;
    text-transform: uppercase;
}

nav ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 5px;
}
nav ul li a.active,
nav ul li a:hover {
    /* color: #9155A7; */
    color: var(--main-bg-color);
    border-radius: 5px;
}

.frontpic {
    width: 100%;
    margin-bottom: 5px;
}

.frontpic img {
    width: 100%;
}
.container{
    background-color: white;
    color: aqua;
    background-color:blue;
    display: flex;
    justify-content: center;
}


footer {
    /* background-color: #5ac597; */
    background-color: var(--main-bg-color1);
    /* height: 6vh; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: oblique;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    color: white;
}